absl-py==1.3.0
aio-pika==8.2.3
aiodns==3.0.0
aiofiles==23.1.0
aiogram==2.25.1
aiohttp @ file:///C:/b/abs_c4zmy2l696/croot/aiohttp_1670009573673/work
aiohttp-socks==0.8.0
aiormq==6.4.2
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
altair @ file:///tmp/build/80754af9/altair_1599835197802/work
anyio @ file:///C:/ci/anyio_1644481856696/work/dist
appdirs==1.4.4
APScheduler==3.9.1.post1
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///C:/ci/argon2-cffi-bindings_1644569876605/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-timeout @ file:///C:/b/abs_43ozhz2a8g/croots/recipe/async-timeout_1664876362767/work
attrs @ file:///C:/b/abs_09s3y775ra/croot/attrs_1668696195628/work
Authlib==0.15.6
Babel @ file:///tmp/build/80754af9/babel_1620871417480/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backoff==2.2.1
bidict==0.22.1
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blinker==1.6.2
blis @ file:///C:/ci/cython-blis_1651217965514/work
boto3==1.26.151
botocore==1.29.151
Bottleneck @ file:///C:/Windows/Temp/abs_3198ca53-903d-42fd-87b4-03e6d03a8381yfwsuve8/croots/recipe/bottleneck_1657175565403/work
brotlipy==0.7.0
CacheControl==0.12.14
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
catalogue @ file:///C:/ci/catalogue_1651116429009/work
cchardet @ file:///D:/bld/cchardet_1666947750730/work
certifi @ file:///C:/b/abs_36eb5mzhph/croot/certifi_1690232276943/work/certifi
cffi @ file:///C:/Windows/Temp/abs_6808y9x40v/croots/recipe/cffi_1659598653989/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.6
clickhouse-connect==0.6.2
cloudpickle==2.2.1
colorama @ file:///C:/Windows/TEMP/abs_9439aeb1-0254-449a-96f7-33ab5eb17fc8apleb4yn/croots/recipe/colorama_1657009099097/work
colorclass==2.2.2
coloredlogs==15.0.1
colorhash==1.2.1
commonmark @ file:///Users/ktietz/demo/mc3/conda-bld/commonmark_1630649545323/work
config==0.5.1
confluent-kafka==1.9.2
cryptography @ file:///C:/b/abs_36x9ifdcl4/croot/cryptography_1665612655344/work
cycler==0.11.0
cymem @ file:///C:/ci/cymem_1651231465795/work
Cython @ file:///C:/ci/cython_1647850523601/work
dask==2022.10.2
dataclasses==0.6
dataclasses-json==0.5.7
datasets==2.14.3
debugpy @ file:///C:/ci_310/debugpy_1642079916595/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dill @ file:///C:/b/abs_42h_07z1yj/croot/dill_1667919550096/work
dnspython==1.16.0
docopt==0.6.2
duckdb==0.8.1
elastic-transport==8.4.0
entrypoints @ file:///C:/ci/entrypoints_1649926676279/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fake-useragent==1.2.1
fastapi==0.97.0
fastjsonschema @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_ebruxzvd08/croots/recipe/python-fastjsonschema_1661376484940/work
fbmessenger==6.0.0
filelock @ file:///C:/b/abs_c7yrhs9uz2/croot/filelock_1672387617533/work
fire==0.5.0
Flask==2.3.2
flatbuffers==23.5.26
fonttools==4.39.4
frozenlist @ file:///C:/b/abs_2bb5uzghsi/croot/frozenlist_1670004511812/work
fsspec @ file:///C:/b/abs_f9arcwflp9/croot/fsspec_1682526006955/work
future @ file:///C:/b/abs_3dcibf18zi/croot/future_1677599891380/work
gast==0.4.0
gensim @ file:///C:/ci/gensim_1657913625408/work
geographiclib==2.0
geopy==2.3.0
gitdb @ file:///tmp/build/80754af9/gitdb_1617117951232/work
GitPython @ file:///C:/b/abs_49tt462f1q/croot/gitpython_1674662788764/work
google-auth==2.19.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
google-search-results==2.4.2
googletransx==2.4.2
greenlet==2.0.2
grpcio==1.54.2
h11==0.14.0
h5py==3.8.0
hnswlib @ file:///D:/bld/hnswlib_1675802879820/work
httptools==0.5.0
huggingface-hub==0.16.4
humanfriendly==10.0
idna @ file:///C:/b/abs_bdhbebrioa/croot/idna_1666125572046/work
importlib-metadata @ file:///C:/b/abs_20ndzb2j6v/croot/importlib-metadata_1678997085534/work
ipykernel @ file:///C:/b/abs_21ykzkm7y_/croots/recipe/ipykernel_1662361803478/work
ipython @ file:///C:/b/abs_536xsn7rj0/croot/ipython_1670919360443/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1634143127070/work
itsdangerous==2.1.2
jedi @ file:///C:/ci/jedi_1644315428305/work
Jinja2 @ file:///C:/b/abs_7cdis66kl9/croot/jinja2_1666908141852/work
jmespath==1.0.1
joblib @ file:///C:/b/abs_e60_bwl1v6/croot/joblib_1666298845728/work
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonpickle==3.0.1
jsonschema @ file:///C:/b/abs_59eyhnbyej/croots/recipe/jsonschema_1663375476535/work
jupyter @ file:///C:/Windows/TEMP/abs_56xfdi__li/croots/recipe/jupyter_1659349053177/work
jupyter-console @ file:///C:/b/abs_e8gx0csskd/croot/jupyter_console_1671541918848/work
jupyter-server @ file:///C:/Windows/TEMP/abs_d3c42c59-765d-4f9b-9fa3-ad5b1369485611i_yual/croots/recipe/jupyter_server_1658754493238/work
jupyter_client @ file:///C:/b/abs_cbnezz4zg0/croot/jupyter_client_1669040266195/work
jupyter_core @ file:///C:/b/abs_b8r5lb5eus/croot/jupyter_core_1668084445779/work
jupyterlab @ file:///C:/b/abs_f4h5zrq8wm/croot/jupyterlab_1669368473402/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
jupyterlab_server @ file:///C:/b/abs_fayfbtvh57/croot/jupyterlab_server_1669363635719/work
kaggle==1.5.16
keras==2.11.0
kiwisolver==1.4.4
langcodes @ file:///opt/conda/conda-bld/langcodes_1643477751144/work
libclang==16.0.0
locket==1.0.0
lxml @ file:///C:/ci/lxml_1657527492694/work
lz4==4.3.2
magic-filter==1.0.9
Markdown==3.4.3
MarkupSafe @ file:///C:/ci/markupsafe_1654508036328/work
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.5.3
matplotlib-inline @ file:///C:/ci/matplotlib-inline_1661934094726/work
mattermostwrapper==2.2
mistune @ file:///C:/ci_310/mistune_1642084168466/work
mkl-fft==1.3.6
mkl-random @ file:///C:/Users/dev-admin/mkl/mkl_random_1682977971003/work
mkl-service==2.4.0
monotonic==1.6
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
msgpack==1.0.5
multidict==5.2.0
multiprocess @ file:///C:/b/abs_ca0rg6wl6_/croot/multiprocess_1668006439310/work
murmurhash @ file:///C:/ci/murmurhash_1651211593352/work
mypy-extensions==1.0.0
nbclassic @ file:///C:/b/abs_26e3fkk516/croot/nbclassic_1668174974037/work
nbclient @ file:///C:/ci/nbclient_1650308592199/work
nbconvert @ file:///C:/b/abs_4av3q4okro/croot/nbconvert_1668450658054/work
nbformat @ file:///C:/b/abs_85_3g7dkt4/croot/nbformat_1670352343720/work
nest-asyncio @ file:///C:/ci/nest-asyncio_1649848132512/work
networkx==2.6.3
notebook @ file:///C:/b/abs_ca13hqvuzw/croot/notebook_1668179888546/work
notebook_shim @ file:///C:/b/abs_ebfczttg6x/croot/notebook-shim_1668160590914/work
numexpr @ file:///C:/b/abs_afm0oewmmt/croot/numexpr_1683221839116/work
numpy @ file:///C:/b/abs_f6napi3n6e/croot/numpy_and_numpy_base_1691091651337/work
oauthlib==3.2.2
onnxruntime==1.15.0
openai==0.27.8
openapi-schema-pydantic==1.2.4
opendatasets==0.1.22
opt-einsum==3.3.0
overrides==7.3.1
packaging==20.9
pamqp==3.2.1
pandas @ file:///C:/b/abs_cdcgk91igc/croots/recipe/pandas_1663772960432/work
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partd==1.4.0
pathy @ file:///C:/ci/pathy_1651566382897/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.5.0
pipreqs==0.4.13
plotly==5.16.0
pluggy==1.0.0
ply==3.11
pooch @ file:///tmp/build/80754af9/pooch_1623324770023/work
portalocker==2.7.0
posthog==3.0.1
preshed @ file:///C:/ci/preshed_1651222371453/work
prometheus-client @ file:///C:/Windows/TEMP/abs_ab9nx8qb08/croots/recipe/prometheus_client_1659455104602/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
protobuf==4.23.2
psutil @ file:///C:/Windows/Temp/abs_b2c2fd7f-9fd5-4756-95ea-8aed74d0039flsd9qufz/croots/recipe/psutil_1656431277748/work
psycopg2-binary==2.9.6
pulsar-client==3.2.0
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyarrow==11.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycares==4.3.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome==3.18.0
pydantic @ file:///C:/ci/pydantic_1651217784849/work
pydeck==0.8.0
pydot==1.4.2
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
PyJWT==2.7.0
pykwalify==1.8.0
pymongo==3.10.1
Pympler @ file:///tmp/build/80754af9/pympler_1602785470644/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_7f_7lba6rl/croots/recipe/pyparsing_1661452540662/work
PyQt5==5.15.7
PyQt5-sip @ file:///C:/Windows/Temp/abs_d7gmd2jg8i/croots/recipe/pyqt-split_1659273064801/work/pyqt_sip
pyreadline3==3.4.1
pyrsistent @ file:///C:/ci_310/pyrsistent_1642117077485/work
PySocks @ file:///C:/ci_310/pysocks_1642089375450/work
python-crfsuite==0.9.9
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==1.0.0
python-engineio==4.4.1
python-slugify==8.0.1
python-socketio==5.8.0
python-socks==2.3.0
python-twitter==3.5
python-twitter-v2==0.8.1
pytz @ file:///C:/Windows/TEMP/abs_90eacd4e-8eff-491e-b26e-f707eba2cbe1ujvbhqz1/croots/recipe/pytz_1654762631027/work
pywin32==305.1
pywinpty @ file:///C:/ci_310/pywinpty_1644230983541/work/target/wheels/pywinpty-2.0.2-cp32-none-win_amd64.whl
PyYAML @ file:///C:/b/abs_d0g7dqt2xw/croot/pyyaml_1670514768165/work
pyzmq @ file:///C:/ci/pyzmq_1657616000714/work
qtconsole @ file:///C:/ci/qtconsole_1662019052262/work
QtPy @ file:///C:/ci/qtpy_1662015130233/work
questionary==1.10.0
randomname==0.1.5
redis==4.5.5
regex @ file:///C:/ci/regex_1658258299320/work
requests @ file:///C:/ci/requests_1657735340829/work
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rich @ file:///opt/conda/conda-bld/rich_1641600379360/work
rocketchat-API==1.28.1
rsa==4.9
ruamel.yaml==0.17.31
ruamel.yaml.clib==0.2.7
s3transfer==0.6.1
sacremoses==0.0.43
sanic==21.12.2
Sanic-Cors==2.0.1
sanic-jwt==1.8.0
sanic-routing==0.7.2
schedule==1.2.0
scikit-learn @ file:///C:/b/abs_32ip6y8czd/croot/scikit-learn_1665482026161/work
scipy==1.10.1
seaborn==0.12.2
semver @ file:///tmp/build/80754af9/semver_1603822362442/work
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
sentry-sdk==1.14.0
shellingham @ file:///Users/ktietz/demo/mc3/conda-bld/shellingham_1629144685686/work
sip @ file:///C:/Windows/Temp/abs_b8fxd17m2u/croots/recipe/sip_1659012372737/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn-crfsuite==0.3.6
slack-sdk==3.21.3
smart-open @ file:///C:/ci/smart_open_1651235038100/work
smmap @ file:///tmp/build/80754af9/smmap_1611694433573/work
sniffio @ file:///C:/ci_310/sniffio_1642092172680/work
snscrape==0.7.0.20230622
soupsieve @ file:///C:/b/abs_fasraqxhlv/croot/soupsieve_1666296394662/work
spacy @ file:///C:/Windows/Temp/abs_20d98bbd-a3e1-44cd-94e3-50a19b6f62727s0xankp/croots/recipe/spacy_1656601321490/work
spacy-legacy @ file:///C:/ci/spacy-legacy_1651578468161/work
spacy-loggers @ file:///opt/conda/conda-bld/spacy-loggers_1643478552797/work
SQLAlchemy==1.4.48
srsly @ file:///C:/ci/srsly_1651573867195/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette==0.27.0
streamlit==1.25.0
sympy @ file:///C:/b/abs_95fbf1z7n6/croot/sympy_1668202411612/work
tabulate==0.9.0
tarsafe==0.0.3
tenacity==8.2.2
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-addons==0.19.0
tensorflow-estimator==2.11.0
tensorflow-hub==0.12.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
terminado @ file:///C:/ci/terminado_1644312135040/work
terminaltables==3.1.10
text-unidecode==1.3
textblob==0.17.1
thinc @ file:///C:/ci/thinc_1651578955853/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tiktoken==0.4.0
tinycss2 @ file:///C:/b/abs_52w5vfuaax/croot/tinycss2_1668168823131/work
tokenizers==0.13.2
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///C:/Windows/TEMP/abs_ac109f85-a7b3-4b4d-bcfd-52622eceddf0hy332ojo/croots/recipe/tomli_1657175513137/work
toolz @ file:///C:/b/abs_cfvk6rc40d/croot/toolz_1667464080130/work
torch @ file:///C:/b/abs_abjetg6_iu/croot/pytorch_1686932924616/work
tornado @ file:///C:/ci/tornado_1662476985533/work
tqdm==4.65.0
traitlets @ file:///C:/b/abs_e5m_xjjl94/croot/traitlets_1671143896266/work
transformers @ file:///C:/b/abs_33c4pcdded/croot/transformers_1684846160972/work
tweepy==4.14.0
twilio==7.14.2
twint @ git+https://github.com/twintproject/twint.git@e7c8a0c764f6879188e5c21e25fb6f1f856a7221
typeguard==4.0.0
typer @ file:///C:/ci/typer_1651228630216/work
typing-inspect==0.9.0
typing-utils==0.1.0
typing_extensions==4.6.3
tzdata==2023.3
tzlocal @ file:///C:/b/abs_961jok6k6w/croot/tzlocal_1668627423616/work
ujson==5.7.0
urllib3 @ file:///C:/b/abs_a8_3vfznn_/croot/urllib3_1666298943664/work
uvicorn==0.22.0
validators @ file:///tmp/build/80754af9/validators_1612286467315/work
wasabi @ file:///C:/ci/wasabi_1651216439282/work
watchdog==3.0.0
watchfiles==0.19.0
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
webexteamssdk==1.6.1
websocket-client @ file:///C:/ci_310/websocket-client_1642093970919/work
websockets==10.4
Werkzeug==2.3.6
widgetsnbextension @ file:///C:/ci/widgetsnbextension_1645009839917/work
wikipedia==1.4.0
win-inet-pton @ file:///C:/ci_310/win_inet_pton_1642658466512/work
wincertstore==0.2
wordcloud==1.9.2
wrapt==1.15.0
xxhash @ file:///C:/b/abs_e59ry5bslh/croot/python-xxhash_1667919514787/work
yarg==0.1.9
yarl @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_e5nlunspj6/croots/recipe/yarl_1661437086516/work
zipp @ file:///C:/b/abs_b9jfdr908q/croot/zipp_1672387552360/work
zstandard==0.21.0
