debugpy @ file:///C:/ci_310/debugpy_1642079916595/work
entrypoints @ file:///C:/ci/entrypoints_1649926676279/work
fastapi==0.97.0

Flask==2.3.2

google-auth==2.19.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
google-search-results==2.4.2
googletransx==2.4.2

huggingface-hub==0.16.4

ipykernel @ file:///C:/b/abs_21ykzkm7y_/croots/recipe/ipykernel_1662361803478/work
ipython @ file:///C:/b/abs_536xsn7rj0/croot/ipython_1670919360443/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1634143127070/work

Jinja2 @ file:///C:/b/abs_7cdis66kl9/croot/jinja2_1666908141852/work

joblib @ file:///C:/b/abs_e60_bwl1v6/croot/joblib_1666298845728/work
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonpickle==3.0.1
jsonschema @ file:///C:/b/abs_59eyhnbyej/croots/recipe/jsonschema_1663375476535/work
jupyter @ file:///C:/Windows/TEMP/abs_56xfdi__li/croots/recipe/jupyter_1659349053177/work
jupyter-console @ file:///C:/b/abs_e8gx0csskd/croot/jupyter_console_1671541918848/work
jupyter-server @ file:///C:/Windows/TEMP/abs_d3c42c59-765d-4f9b-9fa3-ad5b1369485611i_yual/croots/recipe/jupyter_server_1658754493238/work
jupyter_client @ file:///C:/b/abs_cbnezz4zg0/croot/jupyter_client_1669040266195/work
jupyter_core @ file:///C:/b/abs_b8r5lb5eus/croot/jupyter_core_1668084445779/work
jupyterlab @ file:///C:/b/abs_f4h5zrq8wm/croot/jupyterlab_1669368473402/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
jupyterlab_server @ file:///C:/b/abs_fayfbtvh57/croot/jupyterlab_server_1669363635719/work
kaggle==1.5.16

kiwisolver==1.4.4
langcodes @ file:///opt/conda/conda-bld/langcodes_1643477751144/work
libclang==16.0.0
locket==1.0.0
lxml @ file:///C:/ci/lxml_1657527492694/work


matplotlib==3.5.3
matplotlib-inline @ file:///C:/ci/matplotlib-inline_1661934094726/work

nbclassic @ file:///C:/b/abs_26e3fkk516/croot/nbclassic_1668174974037/work
nbclient @ file:///C:/ci/nbclient_1650308592199/work
nbconvert @ file:///C:/b/abs_4av3q4okro/croot/nbconvert_1668450658054/work
nbformat @ file:///C:/b/abs_85_3g7dkt4/croot/nbformat_1670352343720/work
nest-asyncio @ file:///C:/ci/nest-asyncio_1649848132512/work
networkx==2.6.3
notebook @ file:///C:/b/abs_ca13hqvuzw/croot/notebook_1668179888546/work
notebook_shim @ file:///C:/b/abs_ebfczttg6x/croot/notebook-shim_1668160590914/work
numexpr @ file:///C:/b/abs_afm0oewmmt/croot/numexpr_1683221839116/work
numpy @ file:///C:/b/abs_f6napi3n6e/croot/numpy_and_numpy_base_1691091651337/work
oauthlib==3.2.2

pandas @ file:///C:/b/abs_cdcgk91igc/croots/recipe/pandas_1663772960432/work
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partd==1.4.0

plotly==5.16.0

prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
protobuf==4.23.2
psutil @ file:///C:/Windows/Temp/abs_b2c2fd7f-9fd5-4756-95ea-8aed74d0039flsd9qufz/croots/recipe/psutil_1656431277748/work
psycopg2-binary==2.9.6
pulsar-client==3.2.0
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyarrow==11.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycares==4.3.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome==3.18.0
pydantic @ file:///C:/ci/pydantic_1651217784849/work
pydeck==0.8.0
pydot==1.4.2
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
PyJWT==2.7.0
pykwalify==1.8.0
pymongo==3.10.1
Pympler @ file:///tmp/build/80754af9/pympler_1602785470644/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_7f_7lba6rl/croots/recipe/pyparsing_1661452540662/work
PyQt5==5.15.7
PyQt5-sip @ file:///C:/Windows/Temp/abs_d7gmd2jg8i/croots/recipe/pyqt-split_1659273064801/work/pyqt_sip
pyreadline3==3.4.1
pyrsistent @ file:///C:/ci_310/pyrsistent_1642117077485/work
PySocks @ file:///C:/ci_310/pysocks_1642089375450/work
python-crfsuite==0.9.9
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==1.0.0
python-engineio==4.4.1
python-slugify==8.0.1
python-socketio==5.8.0
python-socks==2.3.0
python-twitter==3.5
python-twitter-v2==0.8.1
pytz @ file:///C:/Windows/TEMP/abs_90eacd4e-8eff-491e-b26e-f707eba2cbe1ujvbhqz1/croots/recipe/pytz_1654762631027/work
pywin32==305.1
PyYAML @ file:///C:/b/abs_d0g7dqt2xw/croot/pyyaml_1670514768165/work
pyzmq @ file:///C:/ci/pyzmq_1657616000714/work
qtconsole @ file:///C:/ci/qtconsole_1662019052262/work
QtPy @ file:///C:/ci/qtpy_1662015130233/work
questionary==1.10.0
randomname==0.1.5
redis==4.5.5
regex @ file:///C:/ci/regex_1658258299320/work
requests @ file:///C:/ci/requests_1657735340829/work
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rich @ file:///opt/conda/conda-bld/rich_1641600379360/work
rocketchat-API==1.28.1
ruamel.yaml==0.17.31
ruamel.yaml.clib==0.2.7
s3transfer==0.6.1
sacremoses==0.0.43
sanic==21.12.2
Sanic-Cors==2.0.1
sanic-jwt==1.8.0
sanic-routing==0.7.2
schedule==1.2.0
seaborn==0.12.2
starlette==0.27.0
streamlit==1.25.0
termcolor==2.3.0
terminado @ file:///C:/ci/terminado_1644312135040/work
terminaltables==3.1.10
text-unidecode==1.3
textblob==0.17.1
thinc @ file:///C:/ci/thinc_1651578955853/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tiktoken==0.4.0
tinycss2 @ file:///C:/b/abs_52w5vfuaax/croot/tinycss2_1668168823131/work
tokenizers==0.13.2
typeguard==4.0.0
typer @ file:///C:/ci/typer_1651228630216/work
typing-inspect==0.9.0
typing-utils==0.1.0
typing_extensions==4.6.3
tzdata==2023.3
tzlocal @ file:///C:/b/abs_961jok6k6w/croot/tzlocal_1668627423616/work
ujson==5.7.0
urllib3 @ file:///C:/b/abs_a8_3vfznn_/croot/urllib3_1666298943664/work
uvicorn==0.22.0
validators @ file:///tmp/build/80754af9/validators_1612286467315/work
wasabi @ file:///C:/ci/wasabi_1651216439282/work
watchdog==3.0.0
watchfiles==0.19.0
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
webexteamssdk==1.6.1
websocket-client @ file:///C:/ci_310/websocket-client_1642093970919/work
websockets==10.4
wincertstore==0.2
wordcloud==1.9.2
wrapt==1.15.0
xxhash @ file:///C:/b/abs_e59ry5bslh/croot/python-xxhash_1667919514787/work

